<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE configuration>
<ns2:configuration xmlns:ns2="http://colorcoding.org/ibas/bobas/configuration">
	<appSettings>
		<add key="DebugMode" value="False" />
		<add key="MasterDbType" value="HANA" />
		<add key="MasterDbServer" value="122.5.6.90:30015" />
		<add key="MasterDbName" value="IBAS_DEMO" />
		<add key="MasterDbUserID" value="SYSTEM" />
		<add key="MasterDbUserPassword" value="HANAavatech2012" />
		<add key="I18nPath" value="/src/main/resources/i18n/" />
		<add key="I18nFileTemplate" value="locale.bobs%s.properties" />
		<add key="LanguageCode" value="" />
	</appSettings>
</ns2:configuration>