<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE configuration>
<ns2:configuration xmlns:ns2="http://colorcoding.org/ibas/bobas/configuration">
    <appSettings>
        <add key="MasterDbType" value="MSSQL" />
        <add key="MasterDbServer" value="ibas-db-mssql" />
        <add key="MasterDbName" value="ibas_demo" />
        <add key="MasterDbUserID" value="sa" />
        <add key="MasterDbUserPassword" value="1q2w3e" />
        <add key="MessageLevel" value="DEBUG" />
        <add key="SerializationWay" value="jersey" />
    </appSettings>
</ns2:configuration>