<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE configuration>
<ns2:configuration xmlns:ns2="http://colorcoding.org/ibas/bobas/configuration">
    <appSettings>
        <!-- 配置项目-是否开启调试模式 -->
        <add key="DebugMode" value="true"  />
        <!-- 配置项目-数据库类型 -->
        <add key="MasterDbType" value="SQLITE" />
        <!-- 配置项目-数据库地址 -->
        <add key="MasterDbServer" value="ibas-db-sqlite" />
        <!-- 配置项目-数据库名称 -->
        <add key="MasterDbName" value="ibas_demo" />
        <!-- 配置项目-数据库用户名称 -->
        <add key="MasterDbUserID" value="" />
        <!-- 配置项目-数据库用户密码 -->
        <add key="MasterDbUserPassword" value="" />
        <!-- 配置项目-是否格式化输出 -->
        <add key="FormattedOutput" value="true"  />
        <!-- 配置项目-序列化管理方式 -->
        <add key="SerializationWay" value="jersey" />
    </appSettings>
</ns2:configuration>