# compile files
*.class
*.tmp
*.jar
*.war
*.ear
.mtj.tmp/

# log files
hs_err_pid*
*_log_*.txt

# system files
.DS_Store

# release folder
/release/
/RemoteSystemsTempFiles/
/Servers/

# tools files
/.vs/
/.metadata/
/.recommenders/
/.idea/
/.claude/
CLAUDE.md