<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE configuration>
<ns2:configuration xmlns:ns2="http://colorcoding.org/bobas/configuration">
	<appSettings>
		<add key="DebugMode" value="false" />
		<add key="MasterDbType" value="MSSQL" />
		<add key="MasterDbServer" value="localhost" />
		<add key="MasterDbName" value="ibas_demo" />
		<add key="MasterDbUserID" value="sa" />
		<add key="MasterDbUserPassword" value="1q2w3e" />		
		<add key="MasterDbPoolSize" value="0" />
		<add key="EnabledReadonlyRepository" value="true" />
		<add key="ReadonlyDbType" value="MSSQL" />
		<add key="ReadonlyDbServer" value="localhost" />
		<add key="ReadonlyDbName" value="ibas_demo" />
		<add key="ReadonlyDbUserID" value="sa" />
		<add key="ReadonlyDbUserPassword" value="1q2w3e" />		
		<add key="ReadonlyDbPoolSize" value="0" />
		<add key="I18nPath" value="/src/main/resources/i18n/" />
		<add key="I18nFileTemplate" value="locale.bobs%s.properties" />
		<add key="LanguageCode" value="" />
	</appSettings>
</ns2:configuration>